<?xml version="1.0"?>
<launch>
	<include file="$(find suturo_bringup)/launch/suturo_bringup.launch" pass_all_args="true" >
		<arg name="namespace" value="hsrb"/>
			<arg name="debug" value="false"/>
			<arg name="gui" value="true" />
			<arg name="rviz" value="true"/>
			<arg name="gazebo_visualization" value="false" />
			<arg name="use_manipulation" value="true" />
			<arg name="use_navigation" value="true" />
			<arg name="use_perception" value="true" />
			<arg name="use_task" value="true" />
			<arg name="use_teleop" value="true" />
			<arg name="use_web" value="false" />
			<arg name="use_laser_odom" value="true" />
			<arg name="paused" value="true" />
			<arg name="fast_physics" value="false" />
			<arg name="robot_name" value="$(optenv ROBOT_NAME hsrb)" />

			<arg name="world" value="suturo_sim_clean_up_v2.world" />
			<arg name="map_name" value="corona_sim/sim_v1.yaml" />
			<arg name="gazebo" value="true" />

			<arg name="map_server" value="false" />
			<arg name="publish_planning_hsr" value="true" />

			<arg name="publish_environment" value="true" />
			<arg name="env_model" value="hsrb_sim_v1.urdf.xacro" />

			<arg name="publish_robot_description" value="false" />
    </include>
</launch>
