<?xml version="1.0"?>
<launch>
  <arg name="world" default="suturo_sim_clean_up_v2.world" />
  <arg name="paused" default="true" />
  <arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" />
  <include file="$(find hsrb_gazebo_launch)/launch/include/hsrb_gazebo_common.xml" pass_all_args="true" >
    <arg name="map" value="$(find tmc_potential_maps)/maps/white_space/map.yaml" />
    <arg name="world_name" value="$(find suturo_resources)/gazebo_worlds/$(arg world)" />
    <arg name="robot_pos" value="-x 0 -y 0 -z 0 -Y 0" />
    <arg name="use_laser_odom" value="false" />
  </include>
</launch>
