<?xml version="1.0"?>
<launch>
	<include file="$(find suturo_bringup)/launch/suturo_bringup.launch" pass_all_args="true" >
		<arg name="namespace" value="hsrb"/>
		<arg name="debug" value="false"/>
		<arg name="gui" value="true" />
		<arg name="suturo_rviz" value="true"/>
		<arg name="gazebo_visualization" value="false" />
		<arg name="use_manipulation" value="true" />
		<arg name="use_navigation" value="true" />
		<arg name="use_perception" value="true" />
		<arg name="use_task" value="true" />
		<arg name="use_teleop" value="true" />
		<arg name="use_web" value="false" />
		<arg name="use_laser_odom" value="true" />
		<arg name="paused" value="true" />
		<arg name="fast_physics" value="false" />
		<arg name="robot_name" value="$(optenv ROBOT_NAME hsrb)" />

		<arg name="world" value="robocup_official_practice_0_easy.world" />
		<arg name="map_name" value="wrs2020/map.yaml" />
		<arg name="gazebo" value="true" />

		<arg name="map_server" value="false" />
		<arg name="publish_planning_hsr" value="true" />

		<arg name="publish_environment" value="true" />
		<arg name="env_model_yaml" value="gz_robocup_2021_2.yaml" />

        <arg name="show_rooms" value="true"/>

		<arg name="publish_robot_description" value="false" />

        <arg name="run_snap_map" value="true" />

        <arg name="robot_spawn_pose_x" default="-2.5" />
        <arg name="robot_spawn_pose_y" default="2.5" />
        <arg name="robot_spawn_pose_z" default="0" />
        <arg name="robot_spawn_rotation" default="-1.57079632679" />

	<param name="locations_ontology_file" type="str" value="robocup_practice_easy_locations.owl"/>

    </include>

<!-- pose fix -->

<node pkg="rostopic" type="rostopic" name="rostopic" args="pub /laser_2d_correct_pose geometry_msgs/PoseWithCovarianceStamped '
{header: { seq: 0, stamp: {secs: 0, nsecs: 0},
    frame_id: 'map'}, pose:{ pose:{ position:{ x: -1.3, y: -0.3, z: 0.0}, orientation:{ x: 0.0, y: 0.0, z: 0.0, w: 1.0} }, covariance:[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]}}'"/>

</launch>
