<launch>
<arg name="map_name" default="projectroom_beta/final_projectroom_map.yaml"/>
<!--arg name="map_server" default="true" /-->
<arg name="upload_map" default="true"/>
<arg name="publish_environment" default="true"/>
<arg name="env_model_yaml" default="rw_lab_master_2023_post_robocup.yaml"/>
<arg name="map" default="$(find suturo_resources)/maps/$(arg map_name)"/>
<arg name="use_rviz" value="true"/>


<!-- URDF OF THE ENVIORNMENT -->
<group if="$(eval arg('publish_environment') == true)">
	<include file="$(find suturo_resources)/urdf/launch/urdf.launch" pass_all_args="true">
	<arg name="world_urdf_yaml" value="$(arg env_model_yaml)"/>
	</include>
</group>


<!-- upload map -->
<group if="$(eval arg('upload_map') == true)">
	<node name="map_server" pkg="map_server" type="map_server" args="$(find suturo_resources)/maps/$(arg map_name)"/>
</group>



<group if="$(eval arg('use_rviz') == true)">
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find suturo_resources)/rviz_configs/suturo.rviz"/>
</group>

</launch>
