<?xml version="1.0"?>
<!-- Launch file to easily test Knowledge stuff with gazebo enabled. -->
<launch>
	<include file="$(find suturo_bringup)/launch/suturo_bringup.launch" pass_all_args="true" >

		<arg name="use_rviz" value="true"/>
		<arg name="publish_environment" value="true" />
		<arg name="env_model_yaml" value="rw_lab_master_2023.yaml" />

		<arg name="show_rooms" value="true"/>
		<arg name="publish_robot_description" value="true" />
		<arg name="run_snap_map" value="false" />
		
	    <arg name="map_name" value="hsr_lab_master_2023/hsr_lab_master_2023.yaml" />
		<arg name="gazebo" value="true" />
		<!-- This has to be deactivated with gazebo enabled! -->
		<arg name="use_laser_odom" value="false" />
    </include>
</launch>
