<?xml version="1.0"?>
<launch>
	<param name="locations_ontology_file" type="str" value="robocup_practice_easy_locations.owl"/>
	<include file="$(find suturo_bringup)/launch/suturo_bringup.launch" pass_all_args="true" >
		<arg name="namespace" default="hsrb"/>
		<arg name="debug" default="false"/>
		<arg name="gui" default="true" />
		<arg name="suturo_rviz" default="true"/>
		<arg name="gazebo_visualization" default="false" />
		<arg name="use_manipulation" default="true" />
		<arg name="use_navigation" default="true" />
		<arg name="use_perception" default="true" />
		<arg name="use_task" default="true" />
		<arg name="use_teleop" default="true" />
		<arg name="use_web" default="false" />
		<arg name="use_laser_odom" default="true" />
		<arg name="paused" default="true" />
		<arg name="fast_physics" default="false" />
		<arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" />

		<arg name="world" default="suturo_sim_clean_up_shelf.world" />
		<arg name="map_name" default="corona_sim/sim_v1_opened.yaml" />
		<arg name="gazebo" default="true" />

		<arg name="map_server" default="false" />
		<arg name="publish_planning_hsr" default="true" />

		<arg name="publish_environment" default="true" />
		<!--<arg name="env_model_yaml" default="gz_test_next_object.yaml" />-->
		<arg name="env_model_yaml" default="gz_robocup_2021_2.yaml" />

        <arg name="show_rooms" default="true"/>

		<arg name="publish_robot_description" default="false" />

        <arg name="run_snap_map" default="true" />
    </include>


</launch>
