<?xml version="1.0"?>

<robot name="hsrb_lab_shelf" xmlns:xacro="http://ros.org/wiki/xacro">

    <macro name="hsrb_lab_shelf" params="parent *origin">

        <!--LINKS-->

        <!--Base Links-->
        <link name="hsrb_shelf_footprint"/>        

        <link name="hsrb_shelf_base">
            <visual>
                <geometry>
                    <box size="1.04 0.30 0.173"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <box size="1.04 0.30 0.173"/>
                </geometry>
            </collision>
        </link>        

        <link name="hsrb_shelf_back">
            <visual>
                <geometry>
                    <box size="1.04 0.01 1.88"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <box size="1.04 0.01 1.88"/>
                </geometry>
            </collision>
        </link>

        <!--Shelf Level Links-->

        <link name="hsrb_shelf_level_0_link">
            <visual>
                <geometry>
                    <box size="1 0.32 0.03"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <box size="1 0.32 0.03"/>
                </geometry>
            </collision>
        </link>

        <link name="hsrb_shelf_level_1_link">
            <visual>
                <geometry>
                    <box size="0.988 0.32 0.03"/>
                </geometry>
            </visual>
             <collision>
                <geometry>
                    <box size="0.988 0.32 0.03"/>
                </geometry>
            </collision>
        </link>

        <link name="hsrb_shelf_level_2_link">
            <visual>
                <geometry>
                    <box size="0.988 0.32 0.03"/>
                </geometry>
            </visual>
             <collision>
                <geometry>
                    <box size="0.988 0.32 0.03"/>
                </geometry>
            </collision>
        </link>

        <link name="hsrb_shelf_level_3_link">
            <visual>
                <geometry>
                    <box size="0.988 0.32 0.03"/>
                </geometry>
            </visual>
             <collision>
                <geometry>
                    <box size="0.988 0.32 0.03"/>
                </geometry>
            </collision>
        </link>

        <link name="hsrb_shelf_level_4_link">
            <visual>
                <geometry>
                    <box size="0.988 0.32 0.03"/>
                </geometry>
            </visual>
             <collision>
                <geometry>
                    <box size="0.988 0.32 0.03"/>
                </geometry>
            </collision>
        </link>

        <!--JOINTS-->

        <!-- Base Joints -->
        <joint type="fixed" name="hsrb_shelf_main_joint">
            <xacro:insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="hsrb_shelf_footprint"/>
        </joint>

        <joint type="fixed" name="foot_back_joint">
            <origin xyz="0 0.4 0.75"/>
            <parent link="hsrb_shelf_footprint"/>
            <child link="hsrb_shelf_back"/>
        </joint>

        <joint type="fixed" name="foot_base_joint">
            <iorigin xyz="0 0.75 0"/>
            <parent link="hsrb_shelf_footprint"/>
            <child link="hsrb_shelf_base"/>
        </joint>
        
        <!--Shelf Level Joints-->
        <joint type="fixed" name="hsrb_shelf_level_0_joint">
            <origin xyz="0 0.365 0.10665"/>
            <parent link="hsrb_shelf_footprint"/>
            <child link="hsrb_shelf_level_0_link"/>
        </joint>

        <joint type="fixed" name="hsrb_shelf_level_1_joint">
            <origin xyz="0 0.365 0.44065" rpy="0 0 0" />
            <parent link="hsrb_shelf_footprint"/>
            <child link="hsrb_shelf_level_1_link"/>
        </joint>

        <joint type="fixed" name="hsrb_shelf_level_2_joint">
            <origin xyz="0 0.365 0.78065" rpy="0 0 0" />
            <parent link="hsrb_shelf_footprint"/>
            <child link="hsrb_shelf_level_2_link"/>
        </joint>

        <joint type="fixed" name="hsrb_shelf_level_3_joint">
            <origin xyz="0 0.365 1.12065" rpy="0 0 0" />
            <parent link="hsrb_shelf_footprint"/>
            <child link="hsrb_shelf_level_3_link"/>
        </joint>

        <joint type="fixed" name="hsrb_shelf_level_4_joint">
            <origin xyz="0 0.365 1.46065" rpy="0 0 0" />
            <parent link="hsrb_shelf_footprint"/>
            <child link="hsrb_shelf_level_4_link"/>
        </joint>

    </macro>
</robot>