<?xml version="1.0"?>

<robot name="iai-kitchen" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="data"
        value="${load_yaml('$(arg yaml_file)')}" />

    <xacro:property name="simulated" value="true" />

    <xacro:macro name="sphere_inertia" params="radius mass">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <mass value="1" />
            <inertia
                ixx="1" ixy="0.0" ixz="0.0"
                iyy="1" iyz="0.0"
                izz="1" />
        </inertial>

    </xacro:macro>


    <!--  Include the files containing the macros -->
    <xacro:include filename="$(find suturo_resources)/urdf/urdf_components/suturo_table.urdf.xacro" />
    

    <xacro:property name="number_of_tables"
        value="${data.get('tables', dict(amount=0)).get('amount', 0)}" />
   
    <!--  ~~Tables~~  -->
    <xacro:macro name="table_loop" params="table_number">
        <xacro:suturo_table
            name="${data['tables'][table_number]['name']}:${data['tables'][table_number]['knowledge_role']}"
            parent="${data['tables'][table_number]['parent']}"
            size_x="${data['tables'][table_number]['depth']}"
            size_y="${data['tables'][table_number]['width']}"
            size_z="${data['tables'][table_number]['height']}">
            <origin
                xyz="${data['tables'][table_number]['x_pos']} ${data['tables'][table_number]['y_pos']} 0"
                rpy="0 0 ${data['tables'][table_number]['z_rot']}" />
        </xacro:suturo_table>
        <xacro:if value="${(number_of_tables - 1) > table_number}">
            <xacro:table_loop table_number="${table_number + 1}" />
        </xacro:if>
    </xacro:macro>




    <!--Calling
    the loops-->

    <xacro:if value="${number_of_tables > 0}">
        <xacro:table_loop table_number="0" />
    </xacro:if>

    <link name="urdf_main" />
    <joint name="map_urdf_joint" type="fixed">
        <origin xyz="${data['world_offset']['X']} ${data['world_offset']['Y']} 0 "
            rpy="0 0 ${data['world_offset']['zrot']}" />
        <parent link="urdf_main" />
        <child link="urdf_offset" />
    </joint>

    <link name="urdf_offset" />


</robot>
