<?xml version="1.0"?>


<!-- Rooms are for Knowledge Information only-->
<robot name="suturo_path" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="suturo_path" params="name parent x_pos y_pos">


    <joint name="${name}#path_joint" type="fixed">
        <origin xyz="${x_pos} ${y_pos} 0 " rpy="0 0 0" />
        <parent link="${parent}"/>
        <child link="${name}#path_link"/>        
    </joint>

    <link name="${name}#path_link">
    </link>



  </xacro:macro>

</robot>

