<?xml version="1.0"?>


<!-- Rooms are for Knowledge Information only-->
<robot name="suturo_room" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="suturo_room" params="name parent center_x center_y color size_x size_y">

    <joint name="world_${name}:room_joint" type="fixed">
        <origin xyz="${center_x} ${center_y} -0.01 " rpy="0 0 0" />
        <parent link="${parent}"/>
        <child link="${name}:room_center_link"/>
    </joint>

    <link name="${name}:room_center_link">
      <visual>
        <geometry>
          <box size="${size_x} ${size_y} 0.01" />
        </geometry>
        <material name="color">
          <color rgba="${color}"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="${size_x} ${size_y} 0.01" />
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>

