<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="$(optenv toya hsrb)" />
  <include file="$(find hsrb_gazebo_launch)/launch/include/hsrb_gazebo_common.xml" pass_all_args="true" >
    <arg name="map" value="/home/apfelbaum/suturo/src/suturo_resources/simulation/map.yaml" />
    <arg name="world_name" value="/home/apfelbaum/suturo/src/suturo_resources/simulation/suturo_sim_world.world" />
    <arg name="robot_pos" value="-x 0 -y 0 -z 0 -Y 0" />
    <arg name="use_laser_odom" value="false" />
  </include>
</launch>
